doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Error
    link(rel='stylesheet' href='stylesheets/styles.css')
  body
    img(src="images/error-404.png", alt="Medal" width="512" height="512").mx-auto
    p.text-6xl.text-center Sorry Page not Found !
    div.text-center.p-8
      a(href="http://localhost:3000/").text-2xl.font-bold Return Home